@import url('common.css');
/* css của trang bài học */
#banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),#093696d4),url(/img/lesson.jpg) ;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 177px;
}
.banner-text h1{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
}
.banner-btn a:hover{
    background-color: #abbdd8;
  transition: background-color 0.3s;
}